@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'), local('RobotoRegular'), local('Roboto Regular');
    src: url('Roboto/Roboto-Regular-webfont.eot');
    src: url('Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto/Roboto-Regular-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'), local('RobotoBold'), local('Roboto Bold');
    src: url('Roboto/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('Roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
html {
  background: #E5E5E5;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2047px;
  min-width: 1440px;
  min-height: 100vh;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: black;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
}  

header, main, footer {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  min-height: 218px;
  padding-bottom: 47px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;/* здесь и далее для Firefox*/
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  margin: 60px auto 46px;
  height: 47px;
}

.site-menu {
  width: 100%;
  position: relative;
}

.site-menu ul {
  list-style: none;
  margin: 0 134px 0 135px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 18px;
}

.site-menu li {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 18px;
  vertical-align: middle;
}

.site-menu a {
  text-decoration: none;
  color: black;
}

.site-footer .site-menu a {
  color: white;
}

.site-menu a:hover {
  color: gold;
}

.underwater-hotel {
  width: 100%;
  min-height: 464px;
  color: white;
  display: flex;
}

.underwater-hotel .container {
  background: rgb(47, 13, 87) url("images/underwater_hotel.jpg") no-repeat;
  min-height: 464px;/*пришлось прописать размер явно из-за проблем с отображением в IE*/
}

.underwater-hotel a {
  margin-top: 46px;
  height: 55px;
  color: white;
}

.underwater-hotel a:hover {
  transform: scale(1.2);
}

.underwater-hotel h2 {
  font-size: 72px;
  line-height: 84px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: auto;
  height: 80px;
}

.underwater-hotel p {
  min-height: 64px;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.first_line {
  margin-bottom: 5px;
}

.review {
  width: 100%;
  min-height: 463px;
  display: flex;
}

.review .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; 
}

.review .container > article {
  margin: 0;
  width: 370px;
  min-height: 326px;
  text-align: left;
   
}

.review-header,
.season_tickets-header {
  flex-basis: 100%;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
} 
 
.review-header {
  margin: 44px auto 20px;
}

.review article h3,
.circle .advantage h3 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  width: 368px;
  height: 31px;
  margin: 0;
  margin-top: 223px;
}

.review article.review-literature h3,
.review article.review-theatre h3 {
  width: 367px;
}

.review article p,
.circle .advantage p {
  width: 100%;
  min-height: 63px;
  font-size: 14px;
  line-height: 150%;
  font-weight: normal;
  margin: 0;
  margin-top: 10px;
}

.review .review-art p {
  margin-top: 11px;
}

.review .review-literature p {
  min-height: 64px;
}

.review .review-theatre p {
  min-height: 62px;
}

.review article a {
  text-decoration: none;
  color: black;
}

.review .review-literature a {
  color: #FF7931;
}

.review article a:hover {
  text-decoration: underline;
  color: red;
}

.review-art {
  background: url('images/art.jpg') no-repeat 0 top;
}

.review .container .review-literature {
  background: url('images/literature.png') no-repeat 0 top;
  margin: 0 29px;
}

.review-theatre {
  background: url('images/theatre.jpg') no-repeat 0 top;
}

.season_tickets {
  width: 100%;
  min-height: 556px;
  margin-bottom: 50px;
  background-color: #F7F7F7;
  display: flex;
}

.season_tickets .container {
  display: flex;
  overflow: hidden;
}

.circle {
  width: 707px;
  min-height: 707px;
  margin-top: -75px;
  margin-bottom: -75px;
  padding-bottom: 111px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.season_tickets-header {
  margin: 108px 0 35px;
}

.circle .advantage {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  width: 370px;
  min-height: 104px;
}

.circle .advantage:not(:nth-of-type(3))::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 0;
  opacity: 0.6;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transform: rotate(0.1deg)  translateX(-50%);
}

.circle .advantage:nth-of-type(3) {
  margin-bottom: 25px;
}

.circle .advantage h3 {
  margin: 0 auto 10px;
}

.circle .advantage p {
  margin: 0;
}

.circle .button {
  height: 47px;
}

.circle .button a {
  display: inline-block;
  height: 47px;
  transition: transform .5s linear;
}

.circle .button a:hover {
  transform: rotate(360deg);
}

.site-footer {
  min-height: 295px;
  margin-top: auto;
  padding-bottom: 44px;
  background-color: #575757;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.footer-header {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 1px;
  margin: 26px auto 32px;
  height: 38px;
}

.site-footer .site-menu::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 1170px;
  bottom: -46px;
  left: 50%;
  transform: translateX(-50%);  
  height: 0;
  opacity: 0.4;
  border-top: 1px solid #FFFFFF;
}

.social {
  font-size: 0;
  margin-top: 88px;
}

.social a {
  display: inline-block;
  position: relative;
  width: 47px;
  height: 47px;
  vertical-align: middle;
  background-color: white;
}

.social a.facebook {
  margin-right: 14px;
  margin-left: 14px;
}

.social img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.social a:hover {
  background-color: #ffff00;
}

